<a href="https://colab.research.google.com/github/pinkfloyed/PyThon_DSA/blob/main/PYTHON_CODES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Variables & data Types**

In [ ]:
print("Pinki Akter")
print("Pinki Akter","CSE",25,"CUET")

name="Pinki"
age=25
School="VNSC"
CGPA=3.53

print(name,age,School,CGPA)

print(type(name))
print(type(age))
print(type(School))
print(type(CGPA))

# data types : integers, string, float, boolean, none
name1="Pinkis"
name2='Pinks'
name3='''Pinks'''
print(name1,name2,name3)

ok=True
a=None
print(type(ok))
print(type(a))


# Python is Case Sensitive
# single comment
''' Multiline comments'''
# to comment multiple lines in one go : ctrl+/

Pinki Akter
Pinki Akter CSE 25 CUET
Pinki 25 VNSC 3.53
<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
Pinkis Pinks Pinks
<class 'bool'>
<class 'NoneType'>

' Multiline comments'

In [ ]:
#sum of 2 numbers

a=10
b=20
s=a+b
print(s)

# Arithmatic operators
x=30
y=10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)  # remainder
print(x ** y) # x^y

# Relational/Comparison operators
s=20
t=30
print(s==t)
print(s!=t)
print(s>t)
print(s>=t)
print(s<t)
print(s<=t)

# Asignment operator
num=10;
print(num)
num=num+10;
print(num)
num+=10;
print(num)
num-=10;
print(num)
num*=10;
print(num)
num/=10;
print(num)
num%=10;
print(num)
num**=10;
print(num)

# Logical operators
u=20
v=19
print(not (u>v))
print((u>v) and (u!=v))
print((u>v) or (u<v))

30
40
20
300
3.0
0
590490000000000
False
True
False
False
True
True
10
20
30
20
200
20.0
0.0
0.0
False
True
True

In [ ]:
# type conversion (1. type casting(intentional) 2.conversion(automatically))
a=4
b=3.56
print(a+b) # type conversion

s="pinki"
e=str(10) # type casting
print(s+e) # error gives

7.5600000000000005
pinki10

In [ ]:
# user input
n=input("Enter name : ")
print("Welcome ",n);

# input() always string value input nibe
# int(input())  int value input nibe
# float(input()) float value input nibe

Enter name : pinki
Welcome  pinki

## **Strings and Conditional Statements**

In [ ]:
# in strings we can store values in single,double,triple quotes
str="This is string\nWe are creating strings in python"
print(str)

s1='pinki'
s2="akter"
print(s1+" "+s2) # concatenation

print(len(s1))

#indexing
print(s2[3])

#slicing : str[starting_idx:ending_idx] ending index is not included
r1="Rinki Akter"
print(r1[2:5])
print(r1[3:])
print(r1[:5])

#negative indexing
a='apple' # -5 -4 -3 -2 -1
print(a[-4:-1])

This is string
We are creating strings in python
pinki akter
5
e
nki
ki Akter
Rinki
ppl

In [ ]:
# String Functions
str="I am a girl and I want to be self-independent"
print(str.endswith('girl'))
print(str.capitalize())
print(str.replace('a','e'))
print(str.find('a'))
print(str.find('ri'))
print(str.count('am'))
print(str.count('ri'))


s=input("enter your first name ")
print(s)
print(len(s))
print(s.count('$'))

False
I am a girl and i want to be self-independent
I em e girl end I went to be self-independent
2
-1
1
0
enter your first name pinkfloyed$pinkiakter$
pinkfloyed$pinkiakter$
22
2

In [ ]:
#conditional statements
a=20
b=30
c=15

if(a>b and a>c):
   print("a")
elif(b>c and b>a):
   print("b")
else:
   print("c")
print("end of code")


m=int(input("enter marks of student "))
if(m>90):
   print("A+")
elif(m>=80 and m<90):
   print("A")
elif(m>=70 and m<80):
   print("A-")
elif(m>=60 and m<70):
   print("B")
elif(m>=50 and m<40):
   print("C")
elif(m>40 and m<50):
   print("D")
else:
   print("F")
print("end of code")

age=18
if(age>10):
   if(age>=18):
     print("yes")
   else:
     print("no")
else:
     print("no")

b
end of code
enter marks of student 60
B
end of code
yes

##**Lists and Tuples**

In [ ]:
# list is built-in data type which stores set of values. it can store integers, strings, float, boolean)
# strings (immutable/not changeable) lists (mutable/changeable)
# in string can't change index value but in lists we can change value of one index
# list slicing is same as string

marks=[94,93.5,81,56,78,49]
print(marks)
print(len(marks))
print(marks[3])

lists=['pinki','akter',18,'B','04-09-2000']
print(lists)

lists[3]='CSE'
print(lists)


l=[3,2,1,4,5,6,7]
l.append(10)
print(l)
l.sort()
print(l)
l.sort(reverse=True)
print(l)
l.insert(4,96)
print(l)
l.reverse()
print(l)
l.remove(10)
print(l)
l.pop(4)
print(l)
print(type(l))

[94, 93.5, 81, 56, 78, 49]
6
56
['pinki', 'akter', 18, 'B', '04-09-2000']
['pinki', 'akter', 18, 'CSE', '04-09-2000']
[3, 2, 1, 4, 5, 6, 7, 10]
[1, 2, 3, 4, 5, 6, 7, 10]
[10, 7, 6, 5, 4, 3, 2, 1]
[10, 7, 6, 5, 96, 4, 3, 2, 1]
[1, 2, 3, 4, 96, 5, 6, 7, 10]
[1, 2, 3, 4, 96, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [ ]:
# tuples (immutable/not changeable)
tup=(10,20,40,90,27,35)
print(tup)
print(type(tup))
print(tup.index(90))

print(tuple[3])
t=(2,) # single variable store korle comma must. multiple values store korle last e comma mandatory na
print(t)

m=(4,2,4,4,5,6,6,7,)
print(m.index(6))
print(m.count(4))

(10, 20, 40, 90, 27, 35)
<class 'tuple'>
3
90
(2,)
5
3

In [ ]:
# practice
# 1. user input 3 programming languages and store in list

a=input('Enter 1st programming language : ')
b=input('Enter 2nd programming language : ')
c=input('Enter 3rd programming language : ')

lists=['','','']
lists[0]=a
lists[1]=b
lists[2]=c
print(lists)

# another way
code=[]
code.append(input('Enter 1st programming language : '))
code.append(input('Enter 1st programming language : '))
code.append(input('Enter 1st programming language : '))
print(code)

# 2. check if list of elements are palindrome or not
l=[1,2,3,2,1]
l1=["pinki",'akter','CSE',"akter","Pinki"]
a=l.copy()
a.reverse()
b=l1.copy()
b.reverse()
if(a==l):
  print('Palindrome')
else:
  print("Not palindrome")

if(b==l1):
  print('Palindrome')
else:
  print("Not palindrome")

# 3.count specific characters in given tuple

t=('A','B','A','C','D','A','B')
print(t.count('A'))

t1=['A','B','A','C','D','A','B']
t1.sort()
print(t1)

Palindrome
Not palindrome
3
['A', 'A', 'A', 'B', 'B', 'C', 'D']

##**Dictionary & Sets**

In [ ]:
# dictionary is used to store data values as key:value pairs
# mutable/changeable/can't store duplicate keys/unordered
dict={'name':'Pinki',
      'Dept':'CSE',
      'CGPA':3.53,
      'marks':['A+','A',"A-",'B+'],
      5:5
      }
dict['name']="akter" # replec dictionary values
dict["age"]=25
print(dict)


# nested dictionary
st={
    'fruit':'apple',
    'flower': {'rose',
               'sunflower',
               'lily'
    }
}
print(st)

student={
    'name':'Rahul',
    'marks':{
        'physics':95,
        'chemistry':92,
        'maths':100
    },
    'section':'A'
}

print(student)
print(type(student))
print(student['marks']['maths'])
print(student.update({'city':'dhaka'}))

# dictionary methods
print(list(student.keys())) # all keys return
print(list(student.values())) # all values return
print(list(student.items())) # all items return
print(list(student.get('marks'))) # keys return
print(student.get('name2')) #no error
#print(student['name2']) # error

d={} # empty dictionary
print(type(d))

{'name': 'akter', 'Dept': 'CSE', 'CGPA': 3.53, 'marks': ['A+', 'A', 'A-', 'B+'], 5: 5, 'age': 25}
{'fruit': 'apple', 'flower': {'sunflower', 'lily', 'rose'}}
{'name': 'Rahul', 'marks': {'physics': 95, 'chemistry': 92, 'maths': 100}, 'section': 'A'}
<class 'dict'>
100
None
['name', 'marks', 'section', 'city']
['Rahul', {'physics': 95, 'chemistry': 92, 'maths': 100}, 'A', 'dhaka']
[('name', 'Rahul'), ('marks', {'physics': 95, 'chemistry': 92, 'maths': 100}), ('section', 'A'), ('city', 'dhaka')]
['physics', 'chemistry', 'maths']
None
<class 'dict'>

In [ ]:
# set is collection of unordered items and immutable/unchangeable and unique
# list and dictionary can't be stored in sets
# sets mutable but elements of set immutable

collection={10,9,9,1,2,4,2,3,3,"hello",'world','hello'}
print(collection)
print(len(collection))
print(type(collection))
collection.pop()
print(len(collection))
print(collection)
c=set() # empty set
print(type(c))

c.add(10)
print(c)
c.add((2,3,4,5))
print(c)
c.remove(10)
print(c)
c.clear()
print(c)


s1={3,1,2,5,6}
s2={3,4,6,7,8}
print(s1.union(s2))  # 1 2 3 4 5 6 7 8

print(s1.intersection(s2))

{1, 2, 3, 4, 9, 10, 'hello', 'world'}
8
<class 'set'>
7
{2, 3, 4, 9, 10, 'hello', 'world'}
<class 'set'>
{10}
{10, (2, 3, 4, 5)}
{(2, 3, 4, 5)}
set()
{1, 2, 3, 4, 5, 6, 7, 8}
{3, 6}

In [ ]:
# practice
dict={'male':0,
      'female':[1,"rasha"]
      }
print(dict)

subjects={"python",'java','c++','python','javascript','java','python','java','c++','c'}
print(len(subjects))

d={}
d['subject name1']=input('enter subject name : ')
d['subject marks1']=input('enter marks of subject1 : ')

d['subject name2']=input('enter subject name : ')
d['subject marks2']=input('enter marks of subject2 : ')

d['subject name3']=input('enter subject name : ')
d['subject marks3']=input('enter marks of subject3 : ')

print(d)

# another approach
marks={}
s1=input('enter subject name1 : ')
x1=int(input('enter marks of subject1 : '))
marks.update({s1:x1})

s2=input('enter subject name2 : ')
x2=int(input('enter marks of subject2 : '))
marks.update({s2:x2})

s3=input('enter subject name3 : ')
x3=int(input('enter marks of subject3 : '))
marks.update({s3:x3})

print(marks)

values={('float',9.0),('int',9)}  # pair in form of tuples in sets
print(values)

{('int', 9), ('float', 9.0)}

##**Loops**

In [ ]:
# while loops

i=0
while i<10:
  print("Bangladesh",i)
  i+=1
print(i)


i=6
while i>=1:
  print("Paris",i)
  i-=1
print(i)

# practice
#1.
i=1
while i<=100:
  print(i)
  i+=1

#2.
i=100
while i>=1:
  print(i)
  i-=1

#3.
i=1
while i<=10:
  print(i*i)
  i+=1

#4.
i=1
n=int(input('enter value of n : '))
while i<=10:
  print(n*i)
  i+=1

#5.
nums=[]
i=1
while i<=100:
  nums.append(i*i)
  i+=1

x=int(input('enter search element : '))
if x in nums:
   print('yes')
else:
  print('no')
print(nums)

i=1
while i<=5:
  print(i)
  if(i==3):
    break
  i+=1

i=1
while i<=15:
  if(i%2==1):
    i+=1
    continue
  print(i)
  i+=1

Bangladesh 0
Bangladesh 1
Bangladesh 2
Bangladesh 3
Bangladesh 4
Bangladesh 5
Bangladesh 6
Bangladesh 7
Bangladesh 8
Bangladesh 9
10
Paris 6
Paris 5
Paris 4
Paris 3
Paris 2
Paris 1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
1
2
3
2
4
6
8
10
12
14

In [ ]:
# for loops
# for loops can be applied on list,tuples,strings

nums=[3,2,6,7,8,9,1,11]

for num in nums:
  print(num)

tup=("burger","pizza","pasta","biriyani",'kacchi')

for num in tup:
  print(num)

str='PinkiAkter'
for c in str:
  if(c=='A'):
   print('found')
   break
   print(c)
else:
    print('end of code')

a=(1,4,9,16,25,36,49,64,81,100,49)
x=49

idx=0
for el in a:
  if(el==x):
    print('found',idx)
    break
  idx+=1

for el in range(5):
  print(el)

for el in range(1,15):
  print(el)

for el in range(2,20,2):
  print(el)

for i in range(100,0,-1):
  print(i)


# pass statement is null statement that does nothing. used as a placeholder for future code
for i in range(5):
  pass
print("it works")


n=7
s=0
for i in range(1,n+1):
  s+=i
print('sum of n numbers : ',s)

n=5
fact=1
for i in range(1,n+1):
  fact=fact*i
print('factorial of n numbers : ',fact)

3
2
6
7
8
9
1
11
burger
pizza
pasta
biriyani
kacchi
found
found 6
0
1
2
3
4
1
2
3
4
5
6
7
8
9
10
11
12
13
14
2
4
6
8
10
12
14
16
18
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
it works
sum of n numbers :  28
factorial of n numbers :  120

## **OOPs**

In [ ]:
# all classes have a function __init__(), executes when class is initiated
# self parameter is reference to current instance of class and used to access variables that belongs to the class

class Student:
  name='Pinki Akter'

s1=Student()
print(s1.name)


#constructor
class student:
  def __init__(self):
    print('default constructor')

  def __init__(self,name,dept):
    self.name=name
    self.dept=dept
    print('parameterized constructor')

s=student('pinki','CSE')
print(s.name,s.dept)

class new:
  name='anonymous' # class attribute
  college='Cambridge University'
  def __init__(self,name,marks,college):
    self.name=name  # object attribute
    self.marks=marks
    self.college=college
  print('student info added')

  # methods
  def hello(self):
    print('hello!',self.name)

s=new('pinki',3.53,'VNC')
print(s.name,s.marks,s.college) #object attribute > class attribute

m=new('pinki',3.53,'VNC')
m.hello()

del m.marks
# print(m.marks) error
m.hello()

Pinki Akter
parameterized constructor
pinki CSE
student info added
pinki 3.53 VNC
hello! pinki
hello! pinki

In [ ]:
# practice

class Student:
  def __init__(self,name,marks):
    self.name=name
    self.marks=marks

  def average(self):
     s=0
     for i in self.marks:
      s+=i
     print('average of marks',s/3)


m=Student('Pinki',[98,93,91])
m.average()

m=Student('Florence',[91,89,98])
m.average()

m=Student('Meem',[97,93,85])
m.average()


# static methods (don't use self parameter)/ works at class level
class static:
  @staticmethod  #decorator 1ta function ney, extend behaviour to another function and don't parmanenetly change it
  def print():
    print("MIT")
s=static()
s.print()

average of marks 94.0
average of marks 92.66666666666667
average of marks 91.66666666666667
MIT

In [ ]:
# Abstraction

class Car:
  def __init__(self):
    self.acc=False
    self.brk=False
    self.clutch=False
  def start(self):
    self.acc=True
    self.clutch=False

  print('Car starts.....')
c=Car()
c.start()


# Encapsulation

class Account:
  def __init__(self,acc_no,bal):
    self.balance=bal
    self.account=acc_no

  def debit(self,amount):
    self.balance-=amount
    print('debited ammount',amount)

  def credit(self,amount):
    self.balance+=amount
    print('credited ammount',amount)

  def get_balance(self):
    return self.balance

a=Account(2,1000000)
print(a.balance)
print(a.account)
a.debit(60000)
a.credit(70000)
a.get_balance()


class Accountprivate:
  def __init__(self,acc_no,acc_pass):
    self.acc_no=acc_no
    self.__acc=acc_pass   # private and can't access from outside class

  def reset_pass(self):
    print(self.__acc)
p=Accountprivate(123456,'uedge')
print(p.acc_no)
p.reset_pass()

Car starts.....
1000000
2
debited ammount 60000
credited ammount 70000
123456
uedge

In [ ]:
# Inheritance  1. single 2. multiple 3. multilevel
#1. single:
class car:
  @staticmethod
  def start():
    print('car started...')

  @staticmethod
  def end():
    print('car stopped...')
class Toyotacar(car):
  def __init__(self,name):
    self.name=name

car1=Toyotacar('fortuner')
car2=Toyotacar('prius')
print(car1.start())
print(car2.start())


#2. multiple
class A:
  va='welcome to class A'
class B:
  vb='welcome to class B'
class C(A,B):
  vc='welcome to class C'
m=C()
print(m.va)
print(m.vb)
print(m.vc)

#3. multi-level
class A:
  va='welcome to class A'
class B(A):
  vb='welcome to class B'
class C(B):
  vc='welcome to class C'
m=C()
print(m.va)
print(m.vb)
print(m.vc)


# super() method is used to access methods of parent class
class car:
  def __init__(self,type):
    self.type=type

  @staticmethod
  def start():
    print('car started...')

  @staticmethod
  def end():
    print('car stopped...')

class Toyotacar(car):
  def __init__(self,name,type):
    self.name=name
    super().__init__(type)

car1=Toyotacar('fortuner','electric')
car2=Toyotacar('prius','battery')
print(car1.start())
print(car2.start())
print(car1.type)


# class method is bound to class and receive class as implicit first argument
class Person:
  name='anonymous'
  @classmethod
  def changename(cls,name):
    cls.name=name
p1=Person()
p1.changename('Pinki Akter')
print(p1.name)
print(Person.name)

car started...
None
car started...
None
welcome to class A
welcome to class B
welcome to class C
welcome to class A
welcome to class B
welcome to class C
car started...
None
car started...
None
electric
Pinki Akter
Pinki Akter

In [92]:
# property() method
class student:
  def __init__(self,phy,chem,math):
    self.phy=phy
    self.chem=chem
    self.math=math

  @property
  def percentage(self):
    return f"{(self.phy + self.chem + self.math)/3: .2f}"+"%"

stu=student(93,96,91)
print(stu.percentage)

# merge 2 list
l1=[2,3,5,1]
l2=[3,5,6,7,8]
print(l1+l2)

# complex number
class complex:
  def __init__(self,real,img):
    self.real=real
    self.img=img
  def show(self):
    print(self.real,"i+",self.img,"j")
  def add(self,num2):
    nr=self.real+num2.real
    ni=self.img+num2.img
    return complex(nr,ni)

c1=complex(2,5)
c1.show()

c2=complex(6,3)
c2.show()

cm=c1.add(c2)
cm.show()

class Area:
  def __init__(self,r):
    self.r=r
  def area(self):
    return 3.1416*(self.r)*(self.r)
  def perimeter(self):
    return 2*(3.1416)*(self.r)
ar=Area(21)
print(ar.area())
print(ar.perimeter())

 93.33%
[2, 3, 5, 1, 3, 5, 6, 7, 8]
2 i+ 5 j
6 i+ 3 j
8 i+ 8 j
1385.4456
131.9472

In [94]:
# polymorphism

class complex:
  def __init__(self,real,img):
    self.real=real
    self.img=img
  def show(self):
    print(self.real,"i+",self.img,"j")
  def __add__(self,num2):
    nr=self.real+num2.real
    ni=self.img+num2.img
    return complex(nr,ni)

  def __sub__(self,num2):
    nr=self.real-num2.real
    ni=self.img-num2.img
    return complex(nr,ni)

c1=complex(2,5)
c1.show()

c2=complex(6,3)
c2.show()

cm=c1+c2
cm.show()

cs=c1-c2
cs.show()

2 i+ 5 j
6 i+ 3 j
8 i+ 8 j
-4 i+ 2 j

## **Function and Recursion**

In [100]:
# functions can be 2 types : 1. built-in functions (print,len,type,range) 2. user-defined functions

def sum(a,b):
  return a+b
sum(3,5)

print('pinki',end=' ')
print('akter')

# default parameters pass
def cal_prod(a=2,b=6):
  return a*b
cal_prod()

def cal_fact(n):
  fact=1
  for i in range(1,n+1):
    fact*=i
  print(fact)
cal_fact(6)

pinki akter
720

In [108]:
# recursion
def show(n):
  if(n==0):
    return
  print(n)
  show(n-1)
show(5)

def fact(n):
  if(n==0 or n==1):
    return 1
  else:
    return n*fact(n-1)
fact(5)

5
4
3
2
1

120

## **File I/O**

In [115]:
from os import truncate
# r:for read()
# w:for write()
# x:create new file and open for writing
# a:open for writing. appending end of file if it exists
# b:binary mode
# t:text mode
# +:open disk file for updating

# r+:read+overwrite(ptr start) - no truncate
# w+:read+overwrite - truncate
# a+:read+append(ptr end) - no truncate

f=open('/content/demo.txt','r')
data=f.read()
data=f.readline()
print(data)
print(type(data))
f.close()

g=open('sample.txt','a')
g.close()

import os
os.remove('sample.txt')

<class 'str'>